.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.2), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}

@font-face {
  font-family: "Alegreya";
  src: url("AlegreyaSans-Bold.woff2") format("woff2"),
      url("AlegreyaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.Alegreya {
  font-family: "Alegreya";
}

@font-face {
  font-family: "Podkova";
  src: url("Podkova-Regular.woff2") format("woff2"),
      url("Podkova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Podkova {
  font-family: "Podkova";
  font-weight: 700;
}

.P-BG {
  background-color: black;
  padding: 0.5rem;
}

.h-50vh {
  height: 50vh;
}

.h-90vh {
  height: 90vh;
}

.COD-B {
  background-color: #bfbebe;
  padding: 0.75rem 1.5rem;
  color: #33312f;
  font-family: "Alegreya";
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
  text-align: center;
}

.B-G {
  border-color: #bfbebe;
}

.C3PO {
  background-color: #33312f;
  border: 2px solid #bfbebe;
  z-index: 20;
}

input {
  text-align: center;
  text-align-last: center;
}

.COD-I {
  background-color: #bfbebe;
  padding: 0.75rem 1.5rem;
  color: #33312f;
  font-family: "Alegreya";
  font-weight: 700;
  /*text-transform: uppercase;
  position: relative;*/
  z-index: 20;
}

.TEST {
  position: relative;
  z-index: 20 ;
  display: block;
  width: fit-content;
  letter-spacing: 2px;
  transition: all .2s;
}

.TEST:hover {
  width: 100%;
  background-position: 0 0;
  transition: all .5s;
}

.TEST:before {
  content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    display: block;
    background-image: url(line.svg);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: -400px;
    background-size: 400px;
    transition: all .5s;
}

.COD-B:hover > div:before {
  width: 100%;
    background-position: 0 0;
    transition: all .5s;
}

body {
  background-color: #1a1e20;
}

.container {
  z-index: 777;
}

.NOISE {
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(noise.gif);
  z-index: 13;
}

.VIGNETTE {
  content: "";
  display: block;
  /*height: calc(100% - 50px);*/
  height: 105%;
  width: 102.5%;
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  z-index: 10;
  /*top: calc(50% + 25px);*/
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: inset 0px 0px 100px rgb(205 196 189 / 50%);
  border-radius: 60px;
  border: 40px solid #ccc;
  overflow-x: hidden;
  /*-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;*/
}

@media screen and (max-width: 767px) {

  .P-BG {
    background-color: rgba(0,0,0,1);
    padding: 0.25rem;
  }
  
  .STEP-2 {
    background-image: url(CODPOINTS-MOBILE.jpg) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .VIGNETTE {
    border: none;
    box-shadow: inset 0px 0px 50px rgba(205, 196, 189, 0.5);
    width: 107.5%;
    height: 106%;
  }

}

.STEP-1 {
  background-image: url(bg-4.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.STEP-2 {
  background-image: url(CODPOINTS-DESKTOP.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}